.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Marker css style */
.marker {
  background-image: url('./images/marker-icon.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* src/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgba(0, 0, 0, 0.7);  /* Transparent black background */
  padding: 40px;  /* Increase padding */
  border-radius: 10px;  /* Increase border radius */
  max-width: 800px;  /* Increase max width */
  width: 90%;  /* Use 90% of the available width */
  color: white;  /* White text for better contrast */
  text-align: left;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  float: right;
  cursor: pointer;
  color: white;  /* White close button */
}
